{#
表格宏集合
包含常用的表格组件
#}


{# 表格操作列（编辑+删除） #}
{% macro action_buttons(edit_url, delete_url, confirm_message='确定删除？') %}
<td>
  <form method="GET" action="{{ edit_url }}" style="display: inline;">
    <button type="submit" class="btn-edit">编辑</button>
  </form>
  <form method="POST" action="{{ delete_url }}" onsubmit="return confirm('{{ confirm_message }}')" style="display: inline;">
    <button type="submit" class="btn-danger">删除</button>
  </form>
</td>
{% endmacro %}


{# 表格操作列（仅删除） #}
{% macro delete_button(delete_url, confirm_message='确定删除？') %}
<td>
  <form method="POST" action="{{ delete_url }}" onsubmit="return confirm('{{ confirm_message }}')" style="display: inline;">
    <button type="submit" class="btn-danger">删除</button>
  </form>
</td>
{% endmacro %}


{# 基础表格容器 #}
{% macro data_table(headers) %}
<table>
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {{ caller() }}
  </tbody>
</table>
{% endmacro %}


{# 显示关联对象名称（带默认值） #}
{% macro relation_name(obj, default='-') %}
{{ obj.name if obj else default }}
{% endmacro %}


{# 显示布尔值为 是/否 #}
{% macro boolean_display(value) %}
{{ '是' if value else '否' }}
{% endmacro %}


{# 格式化日期显示 #}
{% macro date_display(date_obj, format='%Y-%m-%d', default='-') %}
{{ date_obj.strftime(format) if date_obj else default }}
{% endmacro %}


{# 格式化价格显示 #}
{% macro price_display(value, default='-') %}
{{ value if value else default }}
{% endmacro %}
